@model LibraryApp.Models.UserIdentity


<div class="container form-container d-flex justify-content-center align-items-center">

	<form class="form" asp-controller="Auth" asp-action="Login">
		<div class="form-floating mb-3">
			<input asp-for="Username" type="text" class="form-control" placeholder="#" />
			<label asp-for="Username" class="form-label"></label>
		</div>

		<div class="input-group mb-3">
			<div class="form-floating">
				<input asp-for="Password" type="password" class="form-control" placeholder="#" />
				<label asp-for="Password" class="form-label"></label>
			</div>
			<div class="input-group-text align-items-center">
				<span role="button" onclick="handlePwdVisibility(this, 'Password')" id="show-pwd-btn" class="material-symbols-outlined">
					visibility
				</span>
			</div>
		</div>

		<input class="btn btn-warning w-100 py-2" type="submit" name="sbm" value="Login" />

		<a asp-action="Regist" class="float-end mt-2 ps-3">Do not have an account?</a>

		<div asp-validation-summary="All" class="mt-2 text-danger"></div>
	</form>


</div>