@model IEnumerable<Book>
@inject IConfiguration Config

@{
	int page = @ViewBag.pageParams.Page;
	int pageSize = int.Parse(Config["Views:Books:PageSize"]!);
}

<div class="container-fluid my-3 px-4">

<div class="d-inline-flex align-items-center">
	<h1 class="me-3 mb-0">Books</h1>
	@if (User.IsInRole("Admin"))
	{
		<a asp-controller="Admin" asp-action="AddBook" class="btn btn-success">Add book</a>
	}
</div>

@await Component.InvokeAsync("BookList", new BooksViewModel(page, pageSize, Model))

</div>