* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    position: relative; 
    min-height: 100vh;
}

#footer {
    position: absolute;
    bottom: 0;
}

span[role="button"] {
    user-select: none;
}

#carousel-main .carousel-item > img {
    height: 100vh;
}

section.body-description {
    height: 100vh;
}

    section.body-description > .container {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.form-container {
    height: 100vh;
}

.form {
    width: 36rem;
}

.abs-center {
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zoom {
    transition: all ease .2s
}

    .zoom:hover {
        box-shadow: 5px 5px 10px black;
        transform: scale(1.1)
    }
